name: Publish the Azure Virtual Kubelet image
on:
  workflow_call:
    inputs:
      registry:
        description: 'Which registry are we pushing the image to?'
        type: string
        required: true
      release_version:
        description: 'Which version are we creating an image for?'
        type: string
        required: true

permissions:
  contents: write
  packages: write
  actions: read

env:
  # Common versions
  GO_VERSION: '1.22'
  IMAGE_NAME: 'virtual-kubelet'

jobs:
  publish-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
          ref: ${{ inputs.release_version }}

      - name: Login to ${{ inputs.registry }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Set Image tag
        run: |
          ver=${{ inputs.release_version }}
          echo "IMG_TAG=${ver#"v"}" >> $GITHUB_ENV

      - name: Build and push image
        run: |
          OUTPUT_TYPE=type=registry make docker-build-image
        env:
          IMG_TAG: ${{ env.IMG_TAG }}
          REGISTRY: ${{ inputs.registry }}

      - name: Scan ${{ inputs.registry }}/${{ env.IMAGE_NAME }}:${{ env.IMG_TAG }}
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ inputs.registry }}/${{ env.IMAGE_NAME }}:${{ env.IMG_TAG }}"
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          timeout: '5m0s'
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
