name: Publish the init validation image
on:
  workflow_call:
    inputs:
      registry:
        description: 'Which registry are we pushing the image to?'
        required: true
      init_container_version:
        description: 'Which init container version are we creating an image for?'
        required: true
        default: v0.3.0

permissions:
  contents: write
  packages: write
  actions: read

env:
  REGISTRY: ghcr.io
  # Common versions
  GO_VERSION: '1.20'
  INIT_IMAGE_NAME: 'init-validation'

jobs:
  publish-init-images:
    env:
      REGISTRY: ${{ github.event.client_payload.registry }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
          ref: ${{ steps.get-tag.outputs.tag }}

      - name: Login to ${{ env.REGISTRY }}
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Image tag
        run: |
          ver=${{ steps.get-tag.outputs.tag }}
          echo "INIT_IMG_TAG=${ver#"v"}" >> $GITHUB_ENV
      - name: Build and push image
        run: |
          OUTPUT_TYPE=type=registry make docker-build-init-image
        env:
          INIT_CONTAINER_VERSION: ${{ env.INIT_IMG_TAG }}

      - name: Scan ${{ env.REGISTRY }}/${{ env.INIT_IMAGE_NAME }}:${{ env.INIT_IMG_TAG }}
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ env.REGISTRY }}/${{ env.INIT_IMAGE_NAME }}:${{ env.INIT_IMG_TAG }}"
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          timeout: '5m0s'
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
