name: azure-aci-test

on:
  push:
    branches: [master]
  pull_request_target:
    branches: [master]
    paths-ignore: [ docs/**, "**.md", "**.mdx", "**.png", "**.jpg" ]

permissions:
  id-token: write
  contents: read

jobs:
  detect-noop:
    runs-on: ubuntu-latest
    outputs:
      noop: ${{ steps.noop.outputs.should_skip  }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN  }}
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
          concurrent_skipping: false

  tests:
    env:
      CLIENTID: 'd1464cac-2a02-4e77-a1e3-c6a9220e99b9'
      SUBSCRIPTIONID: '076cd026-379c-4383-8bec-8835382efe90'
      TENANT_ID: '72f988bf-86f1-41af-91ab-2d7cd011db47'
      ACTIVEDIRECTORYENDPOINTURL: 'https://login.microsoftonline.com'
      RESOURCEMANAGERENDPOINTURL: 'https://management.azure.com/'
      ACTIVEDIRECTORYGRAPHRESOURCEID: 'https://login.microsoftonline.com'
      SQLMANAGEMENTENDPOINTURL: 'https://management.core.windows.net:8443/'
      GALLERYENDPOINTURL: 'https://gallery.azure.com/'
      MANAGEMENTENDPOINTURL: 'https://manage.windowsazure.com/'
      OMSWORKSPACEID: '4f211d5f-39a4-4a52-a3bb-b49cf4fc7017'
      CLIENTSECRET: ${{ secrets.CLIENT_SECRET }}
      WORKSPACEKEY: ${{ secrets.OMS_WORKSPACE_KEY }}

    runs-on: ubuntu-latest
    environment: test
    needs: detect-noop
    if: needs.detect-noop.outputs.noop != 'true'
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ secrets.GO_VERSION  }}

      - name: Check out code into the Go module directory
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Checkout
        if: github.event_name != 'pull_request_target'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Azure CLI latest
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
          az version
      - name: Run go vet
        run: make vet
      - uses: azure/login@v1.4.5
        with:
          client-id: ${{ env.CLIENTID }}
          tenant-id: ${{ env.TENANT_ID }}
          subscription-id: ${{ env.SUBSCRIPTIONID }}

      - name: Run unit tests & Generate coverage
        env:
          clientId: ${{ env.CLIENTID  }}
          subscriptionId: ${{ env.SUBSCRIPTIONID  }}
          tenantId: ${{ env.TENANT_ID }}
          activeDirectoryEndpointUrl: ${{ env.ACTIVEDIRECTORYENDPOINTURL  }}
          resourceManagerEndpointUrl: ${{ env.RESOURCEMANAGERENDPOINTURL  }}
          activeDirectoryGraphResourceId: ${{ env.ACTIVEDIRECTORYGRAPHRESOURCEID  }}
          sqlManagementEndpointUrl: ${{ env.SQLMANAGEMENTENDPOINTURL  }}
          galleryEndpointUrl: ${{ env.GALLERYENDPOINTURL  }}
          managementEndpointUrl: ${{ env.MANAGEMENTENDPOINTURL  }}
          clientSecret: ${{ secrets.CLIENT_SECRET }}
          omsworkspaceID: ${{ env.OMSWORKSPACEID  }}
          omsworkspaceKey: ${{ secrets.OMS_WORKSPACE_KEY }}
        run: |
           make testauth test

      - name: Upload Codecov report
        uses: codecov/codecov-action@v3
        with:
          ## Repository upload token - get it from codecov.io. Required only for private repositories
          token: ${{ secrets.CODECOV_TOKEN  }}
          ## Comma-separated list of files to upload
          files: ./coverage.out
